.postfooter{
    background-color: #fafbfc;
    padding:0rem 2.5rem;
    height:100%;
}

.first_postfooter{
    margin:0rem 3rem;
    padding:0rem 4rem;
    margin-bottom: 1rem;
    max-width:1350px;
}
.postfooter_heading{
    color:#535766;
    font-size:0.9rem;
    margin-bottom: 0.5rem;
}
.postfooter_para{
    color:#696b79;
    font-size:0.8rem;
}
.postfooter_inside{
    display: flex;
    margin:1rem 0rem 1rem 2rem;
}
.postfooter_inside  li{
    color:#2a2c3f;
    margin-bottom: 0.5rem;
    font-size:0.9rem;
}
.postfooter_inside  span{
    color:#696b79;
    font-size:0.8rem
}


@media screen and (max-width:568px) {
    .first_postfooter{
        margin: 0;
    }
    .postfooter{
        padding: 0;
    }
    
}