.footer {
  background-color: #fafbfc;
  padding: 0.4rem 2.5rem;
  max-width:1350px;
  height: 100%;
}
.footer_first {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  margin: 2rem 3rem;
}
.footer_heading {

  color: #2a2c3f;
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 1rem;
}

.footer_items {
  list-style: none;
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
}
.footer_items a {
  color: #696b79;
  text-decoration: none;
}
.footer_items_span {
  background-color: red;
  color: #fff;
  padding: 0px 5px;
  text-align: center;
  border-radius: 10px;
}
.footer_img {
  display: flex;
  cursor: pointer;
  margin-bottom: 2rem;
}

.MuiSvgIcon-root {
  color: #696b79 !important;
  font-size: 1.7rem !important;
  margin: 0px 10px 0px 0px;
}

.footer_img .demo {
  margin: 0px 5px 0px 0px;
  width: 140px;
  height: 42px;
  object-fit: contain;
}
.footer_second {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inside_footer_second {
  display: flex;
  margin-bottom: 1rem;
  align-items: center;
}
.inside_footer_second img {
  width: 60px;
  height: 50px;
  object-fit: contain;
}

.inside_footer_second > div {
  margin-left: 10px;
}

.inside_footer_second p {
  color: #696b79;
  font-size: 0.9rem;
}
.inside_footer_second p span {
  color: #2a2c3f;
  font-weight: 900;
}

.footer_middle {
  margin: 2rem 3rem;
  padding: 0rem 4rem;
}
.footer_middle_head {
  position: relative;
}

.footer_middle_head::after {
  content: "";
  position: absolute;
  width: 900px;
  height: 1px;
  top: 50%;
  margin-left: 5px;
  background-color: #eaeaec;
}
.footer_middle_links {
  color: #696b79;
  margin: 1px;
  text-decoration: none;
  font-size: 0.9rem;
}
.footer_middle_links > span {
  color: #696b79;
}
.footer_middle_para {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0rem;
}

.footer_middle_para > p {
  color: #696b79;
}
.footer_middle_para p a {
  text-decoration: none;
  font-size: 1rem;
  color: blue;
  font-weight: 800;
}

.footer_last {
  display: flex;
  margin-bottom: 1rem;
  justify-content: space-between;
}
.footer_last > div {
  margin-top: 1rem;
}
.footer_last > div > p {
  color: #696b79;
  font-size: 0.9rem;
}
.footer_last_inside {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.footer_last_inside a {
  color: blue;
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
}

@media screen and (max-width:1175px) {
.footer_first{
  flex-wrap: wrap;
}
.footer_middle_head::after{
   width:500px;
}
  
}



@media screen and (max-width:1000px) {
  .footer_first{
    flex-wrap: wrap;
  }
  .footer_middle_head::after{
    width: 300px;
  }
  
}

@media screen and (max-width:768px) {
  .footer_middle {
    margin: 1.5rem 2rem;
    padding: 0rem 2rem;
  }

  .footer_last{
     flex-wrap: wrap; 
  }
  .footer_middle_head::after{
    display: none;
  }
  
}

@media screen and (max-width:568px) {
   .footer{
     padding:0.5rem 0;
   }
   .footer_first{
     margin:0.6rem;
   }
  
}



@media screen and (max-width:280px) {
  .footer_img .demo{
    width:90px;
  }
  
}